.mediaDetailsContainer {
  width: 100%;
  overflow-x: hidden;
  color: white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.infoSection {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.topInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.tagline {
  color: gray;
  text-align: center;
  font-weight: 300;
}

.genreNames {
  text-align: center;
}

.mediaDetailsTitle {
  text-align: center;
  font-size: 2rem;
}

.mediaDetailsImg {
  width: 12rem;
  height: 15rem;
  border-radius: 10px;
}

@media (min-width: 567.98px) {
  .mediaDetailsContainer {
  }
}
@media (min-width: 767.98px) {
  .mediaDetailsContainer {
    padding: 2rem 6rem;
  }

  .mediaDetailsImg {
    width: 20rem;
    height: 25rem;
  }
}
@media (min-width: 991.98px) {
  .mediaDetailsContainer {
    padding-left: 12%;
    padding-top: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .mediaDetailsTitle {
    text-align: left;
  }

  .tagline {
    text-align: left;
  }
}
@media (min-width: 1199.98px) {
  .mediaDetailsContainer {
    padding-left: 10%;
  }
}
