.homeContainer {
  width: 100%;
  overflow-x: hidden;
}

@media (min-width: 567.98px) {
}

@media (min-width: 767.98px) {
}

@media (min-width: 991.98px) {
  .homeContainer {
    /* width: 100%; */
    /* height: 100vh; */
    padding-left: 12%;
    padding-top: 7.5%;
  }
}

.header {
  color: white;
}

@media (min-width: 1199.98px) {
  .homeContainer {
    padding-left: 10%;
  }
}
