.recommendedForYou {
  color: white;
  padding: 0 1rem;
  padding-top: 1rem;
}

.recommendedHeader {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.mediaContainer {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.25rem;
  margin-bottom: 4rem;
}

.mediaItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mediaItemFacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  padding-top: 1rem;
}

.img {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.1s ease-in-out;
  width: 100%;
  height: 6rem;
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.loading {
  width: 100%;
  height: 6rem;
  background-image: linear-gradient(
    90deg,
    #595959 0%,
    #4d4d4d 40%,
    #404040 60%,
    #595959 100%
  );
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground 5s linear infinite;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: none;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 0.5rem 1rem;
  position: absolute;
  margin-top: 2.5rem;
}

.playButton p {
  font-size: 1rem;
}

.playButtonContainer {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
}

.img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.img:hover + .playButtonContainer {
  display: flex;
}

.mediaTitle {
  font-size: 1.25rem;
  font-weight: 300;
}

.genreContainer {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.25rem;
  margin-bottom: 4rem;
}

.genreItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-radius: 15px;
  background-color: var(--dark-lightish-gray);
  transition: all 0.1s ease-in-out;
}

.genreItem:hover {
  cursor: pointer;
  background-color: var(--light-grayish-blue);
}

.genreHeader {
  color: white;
  font-size: 1.25rem;
}

@media (min-width: 567.98px) {
  .img,
  .loading {
    border-radius: 20px;
    height: 8.5rem;
  }
}

@media (min-width: 767.98px) {
  .mediaContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .genreContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .playButton {
    margin-top: 3.5rem;
  }
}

@media (min-width: 991.98px) {
  .recommendedForYou {
    padding-left: 0;
    padding-right: 0;
  }

  .genreContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .mediaContainer {
    padding-right: 1rem;
  }

  .img,
  .loading {
    height: 12rem;
  }

  .playButton {
    margin-top: 4.5rem;
  }
}
@media (min-width: 1199.98px) {
  .mediaContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .img,
  .loading {
    height: 14rem;
  }

  .playButton {
    margin-top: 5rem;
  }

  .playButton {
    margin-top: 7rem;
  }

  .genreContainer {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

/* // media bookmark button // */
.mediaBookmarkButton {
  background-color: rgba(0, 0, 0, 0.5);
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  position: absolute;
  left: 80%;
  top: 5%;
}

@media (min-width: 767.98px) {
  .mediaBookmarkButton {
    left: 85%;
  }
}

@media (min-width: 991.98px) {
  .mediaBookmarkButton {
    left: 87.5%;
  }
}
