.trendingBar {
  color: white;
  padding: 0 1rem;
}

.trendingHeader {
  padding-bottom: 1rem;
}

.trendingItemContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;

  gap: 1rem;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
}

.trendingItem {
  border: 3px solid white;
  border-radius: 20px;
  height: 10rem;
}

@media (min-width: 991.98px) {
  .trendingBar {
    padding: 0rem;
  }

  .trendingItemContainer {
    grid-auto-columns: 36%;
  }
}
