.trendingBar {
  color: white;
  padding: 0 1rem;
  font-weight: 300;
}

.trendingHeader {
  padding-bottom: 1rem;
  font-weight: 300;
}

.trendingItemContainer {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 20rem;
  gap: 1rem;
  list-style-type: none;

  /* come back to this later and find a better solution */
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-inline: contain;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.trendingItemContainer::-webkit-scrollbar {
  display: none;
}

.trendingItem {
  border-radius: 20px;
  height: 12rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-auto-rows: 1fr;
  position: relative;
  transition: all 0.1s ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: multiply;
}

.trendingItemInfo {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.trendingItem:hover {
  opacity: 0.4;
  cursor: pointer;
}

.itemFacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemFacts p {
  font-size: 1rem;
}

.itemCategory {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.itemCategory img {
  width: 1rem;
  height: 1rem;
}

.trendingMediaTitle {
  font-size: 1.5rem;
  font-weight: 400;
}

.smallCircle {
  width: 3px;
  height: 3px;
  border-radius: 10px;
  background-color: lightgray;
}

@media (min-width: 991.98px) {
  .trendingBar {
    padding: 0rem;
  }

  .trendingItemContainer {
    grid-auto-columns: 36%;
  }

  .trendingItem {
    height: 15rem;
  }

  .itemFacts {
    font-size: 0.8rem;
  }
}

/* // bookmark button // */
.BookmarkButton {
  background-color: rgba(0, 0, 0, 0.5);
  width: 2rem;
  height: 2rem;
  border-radius: 20px;
  border: none;
  position: absolute;
  left: 85%;
  top: 5%;
}

@media (min-width: 991.98px) {
  .BookmarkButton {
    left: 92.5%;
  }
}
