.recommendedForYou {
  color: white;
  padding: 0 1rem;
  padding-top: 1rem;
}

.recommendedHeader {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.mediaContainer {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.25rem;
}

.mediaItem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.mediaItemFacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  padding-top: 1rem;
}

/* .imgArea {
  width: 100%;
  border: 1px solid white;
} */

.img {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.1s ease-in-out;
  width: 100%;
}

.playButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: none;
  border-radius: 20px;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 0.5rem 1rem;
  position: absolute;
  margin-top: 2.5rem;
}

.playButton p {
  font-size: 1rem;
}

.playButtonContainer {
  position: absolute;
  display: none;
  justify-content: center;
  width: 100%;
}

.img:hover {
  opacity: 0.4;
  cursor: pointer;
}

.img:hover + .playButtonContainer {
  display: flex;
}

.mediaTitle {
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 567.98px) {
}

@media (min-width: 767.98px) {
  .mediaContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .img {
    border-radius: 20px;
  }

  .playButton {
    margin-top: 3.5rem;
  }
}

@media (min-width: 991.98px) {
  .recommendedForYou {
    padding-left: 0;
    padding-right: 0;
  }

  .mediaContainer {
    padding-right: 1rem;
  }

  .playButton {
    margin-top: 4.5rem;
  }
}
@media (min-width: 1199.98px) {
  .mediaContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .playButton {
    margin-top: 5rem;
  }

  .playButton {
    margin-top: 7rem;
  }
}
