.recommendedForYou {
  color: white;
  overflow-x: hidden;
  padding: 0 1rem;
  padding-top: 1rem;
}

.recommendedHeader {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow-x: hidden;
  list-style-type: none;

  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2rem; */
  /* display: flex;
  flex-wrap: wrap; */
}

.mediaItem {
  display: flex;
  flex-direction: column;
  width: 45%;

  /* width: 350px; */
}

.imgArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.mediaTitle {
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 567.98px) {
}
@media (min-width: 767.98px) {
  .mediaItem {
    width: 30%;
  }

  .img {
    border-radius: 20px;
  }
}

@media (min-width: 991.98px) {
  .recommendedForYou {
    padding-left: 0;
    padding-right: 0;
  }

  .mediaItem {
    width: 30%;
  }
}
@media (min-width: 1199.98px) {
  .mediaItem {
    width: 22%;
  }
}
