.recommendedForYou {
  color: white;
  padding: 0 1rem;
  padding-top: 1rem;
}

.recommendedHeader {
  font-weight: 300;
  font-size: 2rem;
  padding-bottom: 1rem;
}

.mediaContainer {
  /* display: flex;
  flex-wrap: wrap;
  gap: 2rem; */

  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.25rem;
  /* display: flex;
  flex-wrap: wrap; */
}

.mediaItem {
  display: flex;
  flex-direction: column;
  position: relative;

  /* width: 45%; */

  /* width: 350px; */
}

.mediaItemFacts {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  padding-top: 1rem;
}

.imgArea {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* width: 100%; */
}

.img {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.mediaTitle {
  font-size: 1.25rem;
  font-weight: 300;
}

@media (min-width: 567.98px) {
}
@media (min-width: 767.98px) {
  .mediaContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .img {
    border-radius: 20px;
  }
}

@media (min-width: 991.98px) {
  .recommendedForYou {
    padding-left: 0;
    padding-right: 0;
  }

  .mediaContainer {
    padding-right: 1rem;
  }
}
@media (min-width: 1199.98px) {
  .mediaContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
