@import "./config.css";
@import "./pages/home/home.css";
@import "./pages/LogIn/login.css";
@import "./pages/SignUp/signup.css";
@import "./components/Navbar/navbar.css";
@import "./components/Logo/logo.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--main-bg-color);
}

@media (min-width: 991.98px) {
  #root {
    display: flex;
  }
}

.App h1 {
  color: white;
}

/* font-family: 'Outfit', sans-serif; */
